<% layout('layout') -%>

<section class="banner">
	<div class="banner-content">
		<h3> who is <span> Jason Gao </span> </h3>
		<h6>
			<span> tech product manager /</span>
			UX designer /
			<span> Front-end developer /</span>
			entrepreneur
		</h6>
	</div>
</section>
<section class="recent-work">
	<div class="recent-work-title">
		<h3> WORK </h3>
		<h6> Some of my latest work </h6>
	</div>
	<div class="row recent-work-showcase">
		<div class="col-md-4 col-xs-12">
			<div class="thumbnail">
				<div class="thumbnail-image">
					<img src="./images/demo_snoopqa.com.png">
				</div>
				<div class="caption pull-right">
	        <p> <span><i class="fa fa-user" aria-hidden="true"></i></span> Front-end developer </p>
	      </div>
	    </div>
			<div class="recent-work-showcase-client">
				<div class="client-image client-item">
					<img src="https://www.seeklogo.net/wp-content/uploads/2015/09/google-plus-new-icon-logo-400x400.png" alt="" />
				</div>
				<p class="client-item"> Snoopqa.com </p>
			</div>
		</div>
		<div class="col-md-4 col-xs-12">
			<div class="thumbnail">
				<div class="thumbnail-image">
	      	<img src="./images/demo_angelsglobal.com.png">
				</div>
				<div class="caption pull-right">
	        <p><span><i class="fa fa-user" aria-hidden="true"></i></span> Product Manager </p>
	      </div>
	    </div>
			<div class="recent-work-showcase-client">
				<div class="client-image client-item">
					<img src="https://www.seeklogo.net/wp-content/uploads/2015/09/google-plus-new-icon-logo-400x400.png" alt="" />
				</div>
				<p class="client-item"> Snoopqa.com </p>
			</div>
		</div>
		<div class="col-md-4 col-xs-12">
			<div class="thumbnail">
				<div class="thumbnail-image">
					<img src="./images/demo_snoop_app.png">
				</div>
	      <div class="caption pull-right">
	        <p> <span><i class="fa fa-user" aria-hidden="true"></i></span> UX Designer </p>
	      </div>
	    </div>
			<div class="recent-work-showcase-client">
				<div class="client-image client-item">
					<img src="https://www.seeklogo.net/wp-content/uploads/2015/09/google-plus-new-icon-logo-400x400.png" alt="" />
				</div>
				<p class="client-item"> Snoopqa.com </p>
			</div>
		</div>
	</div>
</section>

<!-- <section class="banner">
  <h1> UX driven Front End Developer </h1>
</section>
<section class="recent-work">
  <div class="recent-work-title">
    <h3> WORK </h3>
    <h6> Some of my latest work </h6>
  </div>
  <div class="row recent-work-showcase">
    <div class="col-md-4 col-xs-12">
      <div class="thumbnail">
        <div class="thumbnail-image">
          <img src="http://r.ddmcdn.com/s_f/o_1/cx_633/cy_0/cw_1725/ch_1725/w_720/APL/uploads/2014/11/too-cute-doggone-it-video-playlist.jpg" alt="...">
        </div>
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p> Some words here. </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="thumbnail">
        <div class="thumbnail-image">
          <img src="https://news.uklon.com.ua/image.axd?picture=2013%2F10%2F%D0%B1%D0%B8%D0%B3%D0%BB%D1%8C.jpg">
        </div>
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p> Some words here. </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="thumbnail">
        <div class="thumbnail-image">
          <img src="https://images-na.ssl-images-amazon.com/images/G/01/img15/pet-products/small-tiles/23695_pets_vertical_store_dogs_small_tile_8._CB312176604_.jpg">
        </div>
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p> Some words here. </p>
        </div>
      </div>
    </div>
  </div>
</section> -->
